[submodule "ufsc-latex-template-rn-46-2019"]
	path = templates/ufsc-latex-template-rn-46-2019
	url = https://github.com/amaralc/ufsc-latex-template-rn-46-2019
[submodule "ufscthesisx"]
	path = templates/ufscthesisx
	url = https://github.com/amaralc/ufscthesisx
[submodule "master-thesis-latex"]
	path = master-thesis-latex
	url = https://github.com/amaralc/master-thesis-latex
[submodule "archive/master-thesis-2020-deprecated"]
	path = archive/master-thesis-2020-deprecated
	url = git@github.com:amaralc/master-thesis-2020-deprecated.git
[submodule "archive/master-thesis-2021"]
	path = archive/master-thesis-2021
	url = git@github.com:amaralc/master-thesis-2021.git
